* {
    font-family: sans-serif;
    font-size: 16px;
}

header {
    background-image: linear-gradient(to right, rgb(70, 97, 255), rgb(36, 0, 128));
    padding: 5px;
    text-align: center;
    color: white;
}

main {
    display: flex;
}

input {
    height: 50px;
    width: 100%;
}

button {
    height: 50px;
    width: 100%;
    margin-top: 5px; 
    border-radius: 12px;
    color: white;
    background-color: rgb(70, 97, 255);
}

#search-section {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    padding: 5px;
    border: 1px solid red;
}

#results-section {
    flex: 2 1 0;
    padding: 5px;
    border: 1px solid red;
}

#forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* #past-searches {
    text-align: center;
}

#results-section {
    display: block;
    text-align: center;
    line-height: 50px;
    width: 80%;
    height: 300px;
    padding: 25px;
    margin: auto;
    border: black solid 2px;
}

#forecast-header{
    text-align: center;
    margin: 15px;
}

#forecast-cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    margin: 10px;
}

.card-img-icons {   
    height: 40px;
    width: 40px;
} */